
<app-header></app-header>

<div class="container section">
    <div class="row">
        <div class="pt-4">
            <h2 class="text-center">
                SERVICES PAGE
            </h2>
        </div>
    </div>
</div>
<section id="Scrubs">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Full Body Exfoliating Scrubs<br>8am - 8pm </h3>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-8 col-md-12">
                    <div class="d-flex justify-content-center">
                        <p class="text-center">
                         A full body exfoliation is a perfect way to combat dry, dull skin and leave you with glowing skin,
                          whether you're on vacation or just want extra-soft skin. This is the perfect way to achieve a healthier looking, 
                         glowing body and get rid of those small bumps or even strawberry legs!
                         <br> <br>
                         A large organ of the body, the skin continually regenerates. The lack of lustre left by dead cells on your 
                         skin during this process can be frustrating. You can combat this problem with a full body exfoliation, 
                         whether you're off on a trip or just want extra-smooth skin.
                        </p>
                     </div>
                </div>
               
            </div>

            <div class="row row justify-content-md-center py-5">
                <div class="col col-lg-8 col-md-12 pt-3">
                    <h3 class="pb-">What To Expect</h3>
                    <div class="d-flex justify-content-between">
                        <p class="">
                            In addition to providing luxuriously smooth skin, a full body scrub down is known to revive dry, lifeless skin and problem pores. 
                            If you have sensitive skin or suffer from eczema or psoriasis, you may want to avoid this exfoliant.
                             Another great pro tip is that it's perfect for prepping your body for spray tans.
                             It evens out your skin's tone to prevent build up and blotchiness.
                        </p>
                     </div>
                </div>
               
            </div>

            <div class="row row justify-content-md-center">
                <div class="col col-lg-8 col-md-12">
                    <h3 class="pb-4">Benefits Of Body Exfoliating</h3>
                    <div class="d-flex justify-content-between">
                       <ul>
                           <li>Evens out skin tone</li>
                           <li>Reduces unwanted bumps on body</li>
                           <li>Removes built-up dirt</li>
                           <li>Prevents blotchiness
                        </li>
                       </ul>
                     </div>
                </div>
               
            </div>
        </div>
</section>

<section id="Yoni">

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Yoni Care<br>8am - 8pm </h3>
            </div>
        </div>
        <div class="row justify-content-md-center pt-3">
            <div class="col col-lg-8 col-md-12">
                <div class="d-flex justify-content-center">
                    <p class="text-center pb-3">
                        A Yoni steam is a holistic health practice in which herbal steam is gently injected into a woman's vaginal cavity.
                         The vagina endures a lot between menstruation, sexual activity, and birth. It is not uncommon for the 
                         vaginal area to be anything but comfortable 
                        when hormones change and pelvic floor problems arise.
                        <br><br>
                   
                        To brew herbs, you place the container of steamed herbs under you or under your open-seated chair.
                         Warm moist steam soothes you as you sit in it. A deep central channel connected to your heart allows
                          it to enter through your yoni and penetrate your uterus, 
                        pelvis, and even up to your heart.
                     </p>
                    
                 </div>
            </div>
           
        </div>

        <div class="row row justify-content-md-center py-5">
            <div class="col col-lg-8 col-md-12 pt-3">
                <h3 class="pb-">What To Expect</h3>
                <div class="d-flex justify-content-between">
                    <p class="">
                        You can expect your menstruation cycle to start being more regular and your period cramps to reduce.
                         Overall, expect your body to feel more relaxed and energized at the same time.
                         You will feel more comfortable and hormonally balanced too!
                    </p>
                 </div>
            </div>
        </div>

        <div class="row row justify-content-md-center">
            <div class="col col-lg-8 col-md-12">
                <h3 class="pb-4">Benefits of Yoni Steaming</h3>
                <div class="d-flex justify-content-between">
                   <ul>
                       <li>Relieve pain during intercourse</li>
                       <li>Ease menopausal symptoms</li>
                       <li>Detoxify womb and remove toxins from body</li>
                       <li>Increase libido </li>
                   </ul>
                 </div>
            </div>
           
        </div>
    </div>
</section>

<section id="Butters">

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Body Butters For Skin & Scalp<br>8am - 8pm </h3>
            </div>
        </div>
        <div class="row justify-content-md-center pt-3">
            <div class="col col-lg-8 col-md-12">
                <div class="d-flex justify-content-center">
                    <p class="text-center pb-3">
                        Many of us ladies are used to using a loofah and a body wash - how is that bad? Well,
                         this causes us to exfoliate everyday and irritate our skin barrier. Not moisturizing or 
                         using gentle products can cause more harm than good. Our Body Butters For Skin & Scalp services will
                         ensure you are hydrated and all that gunk is off of you!
                       
                    </p>
                        
                 </div>
            </div>
           
        </div>

        <div class="row row justify-content-md-center py-5">
            <div class="col col-lg-8 col-md-12 pt-3">
                <h3 class="pb-">What To Expect</h3>
                <div class="d-flex justify-content-between">
                    <p class="">
                        A healthy, moisturized body and a healthy scalp! Forget about the irritated, dry scalp and make way for a
                         healthier lifestyle with the body butters for skin and scalp. Your scalp will feel fresh and clean,
                         without stripping away any natural oils at all!
                    </p>
                 </div>
            </div>
        </div>

        <div class="row row justify-content-md-center">
            <div class="col col-lg-8 col-md-12">
                <h3 class="pb-4">Benefits of Body Butters</h3>
                <div class="d-flex justify-content-between">
                   <ul>
                       <li>Gentle and effective</li>
                       <li>Moisturized without any irritation</li>
                       <li>Retains body and scalp natural oils</li>
                   </ul>
                 </div>
            </div>
           
        </div>
    </div>
</section>

<section id="Lipcare">

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Lip Care
                    <br>8am - 8pm </h3>
            </div>
        </div>
        <div class="row justify-content-md-center pt-3">
            <div class="col col-lg-8 col-md-12">
                <div class="d-flex justify-content-center">
                    <p class="text-center pb-3">
                        Got dry, chapped lips? No matter how the amount of lip balm, lip oils or serums you use,
                         the dryness doesn’t go away? If this is something you are experiencing, or if you just want fuller, 
                         more luscious, healthier looking lips, go no further.
                         Our lip care services are premium and will solve all your lip care problems!
                    </p>
                        
                 </div>
            </div>
           
        </div>

        <div class="row row justify-content-md-center py-5">
            <div class="col col-lg-8 col-md-12 pt-3">
                <h3 class="pb-">What To Expect</h3>
                <div class="d-flex justify-content-between">
                    <p class="">
                        You can expect luxury services at a budget-friendly cost, done by professionals! 
                        Your lips will feel brand new, luscious and plumped! We promote healthy 
                        skin all year round and that translates into healthy lips too!
                    </p>
                 </div>
            </div>
        </div>

        <div class="row row justify-content-md-center">
            <div class="col col-lg-8 col-md-12">
                <h3 class="pb-4">Benefits Of Body Exfoliating</h3>
                <div class="d-flex justify-content-between">
                   <ul>
                       <li>Consistent results</li>
                       <li>Soft lips</li>
                       <li>Plump lips that look healthier and bigger</li>
                       <li>No chapped lips anymore</li>
                   </ul>
                 </div>
            </div>
           
        </div>
    </div>
</section>