
<app-header></app-header>

<div class="container section">
    <div class="row">
        <div class="pt-4">
            <h2 class="text-center">
                SERVICES PAGE
            </h2>
        </div>
    </div>
</div>
<section id="Scrubs">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Full Body Exfoliating Scrubs<br>8am - 8pm </h3>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-8 col-md-12">
                    <div class="d-flex justify-content-center">
                        <p class="text-center">
                         A full body exfoliation is a perfect way to combat dry, dull skin and leave you with glowing skin,
                          whether you're on vacation or just want extra-soft skin. This is the perfect way to achieve a healthier looking, 
                         glowing body and get rid of those small bumps or even strawberry legs!
                         <br>
                         A large organ of the body, the skin continually regenerates. The lack of lustre left by dead cells on your 
                         skin during this process can be frustrating. You can combat this problem with a full body exfoliation, 
                         whether you're off on a trip or just want extra-smooth skin.
                        </p>
                     </div>
                </div>
               
            </div>

            <div class="row row justify-content-md-center py-5">
                <div class="col col-lg-8 col-md-12 pt-3">
                    <h3 class="pb-">What To Expect</h3>
                    <div class="d-flex justify-content-between">
                        <p class="">
                            In addition to providing luxuriously smooth skin, a full body scrub down is known to revive dry, lifeless skin and problem pores. 
                            If you have sensitive skin or suffer from eczema or psoriasis, you may want to avoid this exfoliant.
                             Another great pro tip is that it's perfect for prepping your body for spray tans.
                             It evens out your skin's tone to prevent build up and blotchiness.
                        </p>
                     </div>
                </div>
               
            </div>

            <div class="row row justify-content-md-center">
                <div class="col col-lg-8 col-md-12">
                    <h3 class="pb-4">Benefits Of Body Exfoliating</h3>
                    <div class="d-flex justify-content-between">
                       <ul>
                           <li>Evens out skin tone</li>
                           <li>Reduces unwanted bumps on body</li>
                           <li>Removes built-up dirt</li>
                           <li>Prevents blotchiness
                        </li>
                       </ul>
                     </div>
                </div>
               
            </div>
        </div>
</section>

<section id="Yoni">

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Yoni Care<br>8am - 8pm </h3>
            </div>
        </div>
        <div class="row justify-content-md-center pt-3">
            <div class="col col-lg-8 col-md-12">
                <div class="d-flex justify-content-center">
                    <p class="text-center pb-3">
                        A Yoni steam is a holistic health practice in which herbal steam is gently injected into a woman's vaginal cavity.
                         The vagina endures a lot between menstruation, sexual activity, and birth. It is not uncommon for the 
                         vaginal area to be anything but comfortable 
                        when hormones change and pelvic floor problems arise.</p>
                        <br>
                     <p>
                        To brew herbs, you place the container of steamed herbs under you or under your open-seated chair.
                         Warm moist steam soothes you as you sit in it. A deep central channel connected to your heart allows
                          it to enter through your yoni and penetrate your uterus, 
                        pelvis, and even up to your heart.
                     </p>
                    
                 </div>
            </div>
           
        </div>

        <div class="row row justify-content-md-center py-5">
            <div class="col col-lg-8 col-md-12 pt-3">
                <h3 class="pb-">What To Expect</h3>
                <div class="d-flex justify-content-between">
                    <p class="">
                        In addition to providing luxuriously smooth skin, a full body scrub down is known to revive dry, lifeless skin and problem pores. 
                        If you have sensitive skin or suffer from eczema or psoriasis, you may want to avoid this exfoliant.
                         Another great pro tip is that it's perfect for prepping your body for spray tans.
                         It evens out your skin's tone to prevent build up and blotchiness.
                    </p>
                 </div>
            </div>
           
        </div>

        <div class="row row justify-content-md-center">
            <div class="col col-lg-8 col-md-12">
                <h3 class="pb-4">Benefits Of Body Exfoliating</h3>
                <div class="d-flex justify-content-between">
                   <ul>
                       <li>Evens out skin tone</li>
                       <li>Reduces unwanted bumps on body</li>
                       <li>Removes built-up dirt</li>
                       <li>Prevents blotchiness
                    </li>
                   </ul>
                 </div>
            </div>
           
        </div>
    </div>
</section>