<section id="about" class="about">

    <div class="container">
      <div class="row gx-0">

        <div class="col-lg-12 d-flex flex-column justify-content-center">
          <div class="content">
            <h3>About Us</h3>
            <p>
              My name is Tymia Rutherford and I'm the founder of Luscious Lips 901 by T&T. 
              My brand was created to promote healthy skin year round.
               I wanted to build a brand based around all natural and organic products because I 
               struggled with eczema mostly all of my childhood, and I know so many others in the world
                struggle with dry skin or other severe skin allergies. My mission is to provide exceptional
                 skin care results to anyone who supports the Luscious Brand. Each product is made to soften,
                  nourish, moisturize, and replenish the skin. We are always adding new items to our brand to
                   give you the best shopping experience possible. I always want to do my best to ensure that I
                    satisfy each and every one of my customers!

              Happy Luscious Shopping!!
              
              </p>
            <!-- <div class="text-center text-lg-start">
              <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div> -->
          </div>
        </div>

      </div>
    </div>

  </section>