<section id="services" class="services">

  <div class="container">

    <header class="section-header">
      <h2>Services</h2>
    </header>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" >
        <div class="service-box blue py-4">
          <!-- <i class="ri-discuss-line icon"></i> -->
          <img src="assets/img/services/bodyscrub.jpg" class="img-fluid ri-discuss-line icon " alt="">
          <h3>Full Body Exfoliating Scrubs <br> <span>8am - 8pm</span></h3>
         

          <p>A full body exfoliation is a perfect way to combat dry, dull skin and leave you with glowing skin, 
              whether you're on vacation or just want extra-soft skin. This is the perfect way to achieve a 
              healthier looking, glowing body and get rid of those small bumps or even strawberry legs!
               Book your appointment now!</p>
             
               <div class="row">
                   <div class="col">
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                    <a href="#" class="read-more"><span>Book Now</span> <i class="bi bi-arrow-right"></i></a>
                   </div>

               </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6" >
        <div class="service-box  py-4">
          <!-- <i class="ri-discuss-line icon"></i> -->
          <img src="assets/img/services/yoni care.jpg" class="img-fluid ri-discuss-line icon " alt="">
          <h3>Yoni Care<br> <span>8am - 8pm</span></h3>
         

          <p>In the Maya medicine tradition, Yoni steams are used primarily for cleansing the uterus during menstrual problems, 
              after birth, and when a woman is in menopause so that her womb is completely clean after she has finished bleeding.
               As part of their self-care routines, women often incorporate them in Central America, India, Eastern Europe, and Korea.</p>
             
               <div class="row">
                   <div class="col">
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                    <a href="#" class="read-more"><span>Book Now</span> <i class="bi bi-arrow-right"></i></a>
                   </div>

               </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6" >
        <div class="service-box  py-4">
          <!-- <i class="ri-discuss-line icon"></i> -->
          <img src="assets/img/services/yoni care.jpg" class="img-fluid ri-discuss-line icon " alt="">
          <h3>Yoni Care<br> <span>8am - 8pm</span></h3>
         

          <p>In the Maya medicine tradition, Yoni steams are used primarily for cleansing the uterus during menstrual problems, 
              after birth, and when a woman is in menopause so that her womb is completely clean after she has finished bleeding.
               As part of their self-care routines, women often incorporate them in Central America, India, Eastern Europe, and Korea.</p>
             
               <div class="row">
                   <div class="col">
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                    <a href="#" class="read-more"><span>Book Now</span> <i class="bi bi-arrow-right"></i></a>
                   </div>

               </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

    </div>

  </div>

</section><!-- End Services Section -->

