<section id="services" class="services">

  <div class="container">

    <header class="section-header">
      <h2>Services</h2>
    </header>

    <div class="col py-4">
      <h2 class="text-center">
        Our Services
      </h2>
    </div>

    <div class="row gy-4">
     

      <div class="col-lg-4 col-md-6">
        <div class="service-box blue py-4">
          <!-- <i class="ri-discuss-line icon"></i> -->

          <img src="assets/img/services/bodyscrub.jpg" class="img-fluid icon " alt="">
          <h3>Full Body Exfoliating Scrubs <br> <span>8am - 8pm</span></h3>


          <p>A full body exfoliation is a perfect way to combat dry, dull skin and leave you with glowing skin,
            whether you're on vacation or just want extra-soft skin. This is the perfect way to achieve a
            healthier looking, glowing body and get rid of those small bumps or even strawberry legs!
            Book your appointment now!</p>

          <div class="row">
            <div class="col-6">
              <a href="#" class="read-more"><span>Read More</span></a>

            </div>
            <div class="col-6">
              <a href="#" class="read-more"><span>Book Now</span></a>
            </div>
          </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box py-4">
          <img src="../../../assets/img/services/yoni care.jpg" class="img-fluid icon " alt="">
          <h3>Yoni Care <br> <span>8am - 8pm</span></h3>

          <p>In the Maya medicine tradition, Yoni steams are used primarily for cleansing the uterus during menstrual problems,
             after birth, and when a woman is in menopause so that her womb is completely clean after she has finished bleeding.
              As part of their self-care routines, women often incorporate them in Central America, India, Eastern Europe, and Korea.
          </p>

          <div class="row">
            <div class="col-6">
              <a href="#" class="read-more"><span>Read More</span></a>

            </div>
            <div class="col-6">
              <a href="#" class="read-more"><span>Book Now</span></a>
            </div>
          </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box py-4">
          <img src="../../../assets/img/services/bodybutter.jpg" class="img-fluid icon " alt="">
          <h3>Body Butters For Skin & Scalp <br> <span>8am - 8pm</span></h3>

          <p>Many of us ladies are used to using a loofah and a body wash - how is that bad? Well,
             this causes us to exfoliate everyday and irritate our skin barrier. Not moisturizing or 
             using gentle products can cause more harm than good. 
            Our Body Butters For Skin & Scalp services will ensure you are hydrated and all that gunk is off of you!
          </p>

          <div class="row">
            <div class="col-6">
              <a href="#" class="read-more"><span>Read More</span></a>

            </div>
            <div class="col-6">
              <a href="#" class="read-more"><span>Book Now</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box py-4">
          <img src="../../../assets/img/services/lipcare.jpg" class="img-fluid icon " alt="">
          <h3>Lip Care<br> <span>8am - 8pm</span></h3>

          <p>Got dry, chapped lips? No matter how the amount of lip balm, lip oils or serums you use, 
            the dryness doesn’t go away? If this is something you are experiencing, or if you just want fuller,
             more luscious, healthier looking lips, go no further.
             Our lip care services are premium and will solve all your lip care problems!
          </p>

          <div class="row">
            <div class="col-6">
              <a href="#" class="read-more"><span>Read More</span></a>

            </div>
            <div class="col-6">
              <a href="#" class="read-more"><span>Book Now</span></a>
            </div>
          </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box py-4">
          <img src="../../../assets/img/services/lipcare1.jpg" class="img-fluid icon " alt="">
          <h3>Moisturizing Glosses<br> <span>8am - 8pm</span></h3>

          <p>Looking for that glass skin effect but on your lips? Ever seen celebrities rock perfectly 
            pink, healthy, fuller looking lips? Doesn’t that look natural and healthy? All that celebrity 
            moisturizing glosses is not out of your reach aymore! With our moisturizing glosses services,
             you can have that same glass skin effect - on your lips!
          </p>

          <div class="row">
            <div class="col-6">
              <a href="#" class="read-more"><span>Read More</span></a>

            </div>
            <div class="col-6">
              <a href="#" class="read-more"><span>Book Now</span></a>
            </div>
          </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box py-4">
          <img src="../../../assets/img/services/eye.jpg" class="img-fluid icon " alt="">
          <h3> 3D/5D Lash Extensions<br> <span>8am - 8pm</span></h3>

          <p>Here’s how you can add more volume and length to your lashes! Book an appointment with us and as per your preferences, 
            we’ll give you healthier looking lashes in hours! The best part is, the quality is luxurious and premium so you don’t 
            want to worry about your lashes 
            falling off or ruining your natural lashes! Reusable up to 10 times!
          </p>

          <div class="row">
            <div class="col-6">
              <a href="#" class="read-more"><span>Read More</span></a>

            </div>
            <div class="col-6">
              <a href="#" class="read-more"><span>Book Now</span></a>
            </div>
          </div>
          <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div>

    </div>

  </div>

</section><!-- End Services Section -->